:deep(.el-button) {
  height: var(--base-height);
}
:deep(.el-input__wrapper) {
  height: var(--base-height);
}
:deep(.el-select__wrapper) {
  height: var(--base-height);
}
:deep(.el-date-editor.el-input, .el-date-editor.el-input__wrapper) {
  height: var(--base-height);
}
