$systemThemes: (
  light: (
    background: #eef2f6,
    background-component: #fff,
    primary: #f4b201,
    border: #dee2e9,
    word: #081021,
    word-gray: #94959b,
    closeBtn: #333333,
    tabActive: rgba(2, 16, 36, 0.06),
    btnDisabled: #bec2c9,
    inputDisabled: #eef2f6,
    background-hover: rgba(2, 16, 36, 0.12),
  ),
  dark: (
    background: #141823,
    background-component: #525252,
    primary: #f4b201,
    border: #434651,
    word: #d1d4dc,
    word-gray: #63636a,
    closeBtn: #d1d4dc,
    tabActive: rgba(2, 16, 36, 0.06),
    btnDisabled: #bec2c9,
    inputDisabled: #eef2f6,
    background-hover: rgba(2, 16, 36, 0.12),
  ),
);

$updwonThemes: (
  upRedDownGreen: (
    up: #dc1d43,
    upHover: #ff4a61,
    upActive: #a41532,
    down: #009355,
    downHover: #00c673,
    downActive: #03663d,
  ),
  upGreenDownRed: (
    up: #009355,
    upHover: #00c673,
    upActive: #03663d,
    down: #dc1d43,
    downHover: #ff4a61,
    downActive: #a41532,
  ),
);
