$systemThemes: (
  light: (
    background: #fff,
    background-component: #eef2f6,
    background-dialog: #f6f8fb,
    background-hover: rgba(0, 0, 0, 0.06),
    background-active: rgba(0, 0, 0, 0.12),
    background-table-active: #e28602,
    background-login-container: #fff,
    primary-active: #e28602,
    primary: #f4b201,
    border: #dee2e9,
    word: #000,
    word-info: #63636a,
    word-gray: #94959b,
    closeBtn: #333333,
    tabActive: #e8ebf0,
    tabHover: #efefef,
    tabHoverTextColor: #63636a,
    btnDisabled: #bec2c9,
    inputDisabled: #eef2f6,
    table-colored: #f1f3f6,
    box-shadow: 0px 12px 32px 8px rgba(8, 22, 46, 0.24),
  ),
  dark: (
    background: #0c0f15,
    background-component: #323745,
    background-dialog: #1d222d,
    background-hover: rgba(255, 255, 255, 0.06),
    background-active: rgba(255, 255, 255, 0.12),
    background-table-active: #f6f8fb,
    background-login-container: #1d222d,
    primary: #f4b201,
    primary-active: #e28602,
    border: #56585c,
    word: #fff,
    word-info: #b0b1b3,
    word-gray: #818588,
    closeBtn: #d1d4dc,
    tabActive: #323745,
    tabHover: #1a1d23,
    tabHoverTextColor: #b0b1b3,
    btnDisabled: #bec2c9,
    inputDisabled: #eef2f6,
    table-colored: #1b1f29,
    box-shadow: 0px 12px 32px 8px #000000,
  ),
);

$updwonThemes: (
  upRedDownGreen: (
    up: #f53058,
    upHover: #f75173,
    upActive: #ce284a,
    down: #2e9c76,
    downHover: #50ac8c,
    downActive: #278363,
  ),
  upGreenDownRed: (
    up: #2e9c76,
    upHover: #50ac8c,
    upActive: #278363,
    down: #f53058,
    downHover: #f75173,
    downActive: #ce284a,
  ),
);
