@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #f4b201,
      "light-9": #eff0f1,
    ),
  ),
  $dropdown: (
    "menuItem-hover-color": #606266,
  ),
  $dialog: (
    "bg-color": #f6f8fb,
    "padding-primary": 24px 32px,
  ),
  $slider: (
    "height": 8px,
    "button-size": 12px,
    "main-bg-color": #000,
  ),
  $select-dropdown: (
    "bg-color": #f6f8fb,
  ),
  $text: (
    "color": #000000,
  ),
  $menu: (
    "bg-color": #f6f8fb,
  )
);
// 如果你想导入所有样式:
@use "element-plus/theme-chalk/src/index.scss" as *;

:root {
  --el-font-size-large: 16px;
  --el-font-size-medium: 14px;
  --el-font-size-base: 14px;
  --el-font-size-small: 12px;
  --el-bg-color-overlay: #f6f8fb;
  --el-color-info: #63636a;
  --el-text-color-regular: #000;
}
.el-button--primary {
  --el-button-text-color: #000000;
  --el-button-disabled-bg-color: #bec2c9;
  --el-button-disabled-border-color: #bec2c9;
  --el-button-hover-text-color: #000000;
}
.el-button {
  --el-button-active-bg-color: rgba(244, 178, 1, 0.24);
}
.el-form-item__label {
  color: #000;
}
.el-table thead th {
  font-weight: 400;
}
.el-table {
  color: #000;
}
