// < 1660px
@media screen and (max-width: 1599px) {
  .welcome {
    top: 11%;
    left: 72px;
    font-size: 24px;
  }
}

// >= 1660px
@media screen and (min-width: 1600px) {
  .welcome {
    top: 17%;
    left: 12%;
    font-size: 40px;
  }
}

// < 1920px
@media screen and (max-width: 1920px) {
  .home-container {
    right: 5%;
  }
}

// > 1920px
@media screen and (min-width: 1921px) {
  .home-container {
    right: 10%;
  }
}
