// < 1200px
@media screen and (max-width: 1200px) {
  .welcome {
    top: 12%;
    left: 72px;
    font-size: 24px;
  }
}

// 1200px - 1600px
@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .welcome {
    top: 12%;
    left: 72px;
    font-size: 36px;
  }
}

// 1201px - 1660px
@media screen and (min-width: 1600px) and (max-width: 1660px) {
  .welcome {
    top: 17%;
    left: 72px;
    font-size: 40px;
  }
}

// >= 1660px
@media screen and (min-width: 1660px) {
  .welcome {
    top: 17%;
    left: 12%;
    font-size: 40px;
  }
}

// < 1400px
@media screen and (max-width: 1400px) {
  .home-container {
    transform: scale(0.9);
    right: 5%;
  }
}

// 1400px - 1920px
@media screen and (min-width: 1400px) and (max-width: 1920px) {
  .home-container {
    transform: scale(1);
    right: 5%;
  }
}

// >= 1920px
@media screen and (min-width: 1920px) {
  .home-container {
    transform: scale(1);
    right: 10%;
  }
}
