.chart-page .chart-container {
  transform: translateX(-3px) translateY(-3px);
  width: calc(100% + 3px) !important;
  height: calc(100% + 3px) !important;
}
#drawing-toolbar {
  transform: translateY(-3px);
}

/* : root: not (.theme-dark) — for the light theme
.theme-dark: root — for the dark theme */

/* :root:not(.theme-dark) {
  --tv-color-platform-background: #fff;
}
.theme-dark :root {
  --tv-color-platform-background: #000;
} */
