.chart-page .chart-container {
  transform: translateX(-3px) translateY(-3px);
  width: calc(100% + 3px) !important;
  height: calc(100% + 3px) !important;
}
#drawing-toolbar {
  transform: translateY(-3px);
}
.content-mBXAEZtB > *:last-child {
  display: none;
}
.statuses-Lgtz1OtS {
  display: none;
}
