@import '@/assets/styles/_handle.scss';
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

em,
i {
  font-style: normal;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  letter-spacing: 1.2px;
  color: #ccc;
  text-decoration: none;
}

a:hover {
  color: #f00;
  text-decoration: none;
  cursor: pointer;
}
img {
  border: 0;
  vertical-align: middle;
}
input {
  outline: none;
}
input:disabled {
  @include background_color('inputDisabled');
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
button {
  cursor: pointer;
  outline: none;
  @include font_color("word");
}
body {
  @include background_color('background');
  @include font_color('word');
}
.iconfont {
  cursor: pointer;
}
.ant-divider {
  @include background_color("border");
}
.sellWord {
  @include font_color('down');
}
.buyWord {
  @include font_color('up');
}
.sellBtn {
  @include background_color('down');
}
.sellBtn:hover {
  @include background_color('downHover');
}
.sellBtn:active {
  @include background_color('downActive');
}
.buyBtn {
  @include background_color('up');
}
.buyBtn:hover {
  @include background_color('upHover');
}
.buyBtn:active {
  @include background_color('upActive');
}
.buyBtn[disabled] {
  @include background_color('btnDisabled');
}
.sellBtn[disabled] {
  @include background_color('btnDisabled');
}